<a href="https://colab.research.google.com/github/Brshank/Python/blob/master/Py2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Brshank Singh Negi

Roll No.	I032


Program:B.Tech CS AI


Division: 1


Semester:	2


Batch :prac2


Date of Experiment: 	23|feb|2021

In [ ]:
l=['Apple','Banana','Mango','Guava']
print(*l,sep=",")
print(*l,sep="\n")

Apple,Banana,Mango,Guava
Apple
Banana
Mango
Guava

task 2

In [ ]:
l=['Apple','Banana','Mango','Guava']
string=''.join(l)
print(string)

AppleBananaMangoGuava

task3

In [ ]:
import math
x=int(input("What would u like to convert=\n 1.DegreetoRad \n 2.RadiantoDeg"))
if x == 1:
  degree=float(input("Enter value of Degrees="))
  print("Degree To Rad= %0.2f"%math.radians(degree))
elif x == 2:
  radian=float(input("Enter value of Radians="))
  print("Rad To Degree= %0.2f"%math.degrees(radian))

What would u like to convert=
 1.DegreetoRad
 2.RadiantoDeg2
Enter value of Radians=2.09
Degree To Rad= 119.75

Task 4

In [ ]:
import math
a=int(input("Side 1 of triangle="))
b=int(input("Side 2 of triangle="))
theta=float(input("Enter the value of an angle in that triangle="))
rad_theta=math.radians(theta)
sine=math.sin(rad_theta)
cosine=math.cos(rad_theta)
tangent=math.tan(rad_theta)
hypotenuse=math.hypot(a,b)
print('\n',sine,'\n',cosine,'\n',tangent,'\n',hypotenuse)

Side 1 of triangle=3
Side 2 of triangle=4
Enter the value of an angle in that triangle=60

 0.8660254037844386
 0.5000000000000001
 1.7320508075688767
 5.0

task 5

In [ ]:
import math
a,b=map(int,input("enter two numbers=").split())
hcf=math.gcd(a,b)
print(hcf)

enter two numbers=90 30
30

In [ ]:
import math
g=int(input("enter number for which you wan to find factorial="))
gfact=math.factorial(g)
print(gfact)

enter number for which you wan to find factorial=6
720

In [ ]:
import math
p=float(input("Enter a floating number of which you want to find absolute"))
pfabs=math.fabs(p)
pabs=abs(p)
print('pfabs=',pfabs)
print('abs=',pabs)

Enter a floating number of which you want to find absolute-99
pfabs= 99.0
abs= 99.0

task 6

In [31]:
class_1=['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2=['Hilary Mason','Carla Gentry','Corinna Cortes']
#new_class=(*class_1,*class_2)
new_class=class_1+class_2
print('Task6(iv)=',new_class)
new_class.insert(10,'Henry')
print('Task6(v)=',new_class)
new_class.remove('Henry')
print('Task6(vi)=',new_class)
Andrew=[98, 93, 90, 100, 92]
Carla= [60, 65, 60, 75, 69]
Hilary=[87, 50, 54, 77, 52]
print('Task6(vii)=')
print('Andrew Ng-',Andrew)
print('Carla Gentry-',Carla)
print('Hilary Mason-',Hilary)
print('Task6(viii)=')
print('Andrew =',sum(Andrew)/5,"%")
print('Carla = ',sum(Carla)/5,"%")
print('Hillary=',sum(Hilary)/5,"%")
topper='Andrew Ng'
print(topper.split(' '))
full_name=topper.join(['',''])
print(full_name)
print(full_name.upper())

Task6(iv)= ['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
Task6(v)= ['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes', 'Henry']
Task6(vi)= ['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
Task6(vii)=
Andrew Ng- [98, 93, 90, 100, 92]
Carla Gentry- [60, 65, 60, 75, 69]
Hilary Mason- [87, 50, 54, 77, 52]
Task6(viii)=
Andrew = 94.6 %
Carla =  65.8 %
Hillary= 64.0 %
['Andrew', 'Ng']
Andrew Ng
ANDREW NG

**Task 7**

In [1]:
l=[3,4,2,34,6,8,7,65,44,2,10]
l1=l.copy()
print(l1)

[3, 4, 2, 34, 6, 8, 7, 65, 44, 2, 10]

In [14]:
l=[]
if len(l)==0:
  print('list is Mty')
else:
  print('list is filled')

list is Mty

In [19]:
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
x,y,z=Tuple
print(y[1])
print(x)
print(y)
print(z)

20
NMIMS
[10, 20, 30]
(5, 15, 25)

**Task9**

In [24]:
tuple1 = (11,22)
tuple2 = (99,88)
tuple1,tuple2 = tuple2,tuple1
print('tuple1 is::',tuple1)
print('tuple2 is::',tuple2)

tuple1 is:: (99, 88)
tuple2 is:: (11, 22)

In [27]:
tuple1 = (11, [22, 33], 44, 55)
x,y,z,p=tuple1
tuple1[1][0]=2000
print(y)

[2000, 33]

**Task 10**

In [41]:
tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
tuple2=tuple1[3:-3]
print(tuple2)
print(tuple1.count(11))
tuple1[::-1]

(44, 55)
3

(11, 66, 11, 55, 44, 33, 22, 11)