<a href="https://colab.research.google.com/github/Brshank/Python/blob/master/Py2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
l=['Apple','Banana','Mango','Guava']
print(*l,sep=",")
print(*l,sep="\n")

Apple,Banana,Mango,Guava
Apple
Banana
Mango
Guava

task 2

In [23]:
l=['Apple','Banana','Mango','Guava']
string=''.join(l)
print(string)

AppleBananaMangoGuava

task3

In [34]:
import math
x=int(input("What would u like to convert=\n 1.DegreetoRad \n 2.RadiantoDeg"))
if x == 1:
  degree=float(input("Enter value of Degrees="))
  print("Degree To Rad= %0.2f"%math.radians(degree))
elif x == 2:
  radian=float(input("Enter value of Radians="))
  print("Rad To Degree= %0.2f"%math.degrees(radian))

What would u like to convert=
 1.DegreetoRad
 2.RadiantoDeg2
Enter value of Radians=2.09
Degree To Rad= 119.75

Task 4

In [44]:
import math
a=int(input("Side 1 of triangle="))
b=int(input("Side 2 of triangle="))
theta=float(input("Enter the value of an angle in that triangle="))
rad_theta=math.radians(theta)
sine=math.sin(rad_theta)
cosine=math.cos(rad_theta)
tangent=math.tan(rad_theta)
hypotenuse=math.hypot(a,b)
print('\n',sine,'\n',cosine,'\n',tangent,'\n',hypotenuse)

Side 1 of triangle=3
Side 2 of triangle=4
Enter the value of an angle in that triangle=60

 0.8660254037844386
 0.5000000000000001
 1.7320508075688767
 5.0

task 5

In [68]:
import math
a,b=map(float,input("enter two numbers=").split())
hcf=math.gcd(a,b)
print(hcf)

enter two numbers=3.0 4.0

TypeError: ignored

In [46]:
import math
g=int(input("enter number for which you wan to find factorial="))
gfact=math.factorial(g)
print(gfact)

enter numebr for which you wan to find factorial=3
6

In [60]:
import math
p=float(input("Enter a floating number of which you want to find absolute"))
pfabs=math.fabs(p)
pabs=abs(p)
print('pfabs=',pfabs)
print('abs=',pabs)

Enter a floating number of which you want to find absolute-99
pfabs= 99.0
abs= 99.0

task 6

In [83]:
class_1=['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2=['Hilary Mason','Carla Gentry','Corinna Cortes']
#new_class=(*class_1,*class_2)
new_class=class_1+class_2
print(new_class)
print('after appending henry')
new_class.insert(10,'Henry')
print(new_class)

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
after appending henry
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes', 'Henry']